version: "3.3"
services:
  backend:
    build: ./flask-backend/
    ports:
      - 5000:5000
    networks:
      - internal
  frontend:
    build: ./stock-market-frontend
    ports:
      - 3000:3000
    networks:
      - internal
networks:
  internal:
    driver: bridge